a {
  text-decoration: none !important;
  color: #0095f6;
}


mat-card {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

mat-card-title {
  margin-bottom: 20px !important;
}

mat-card-subtitle {
  margin-bottom: 0;
}

mat-card-subtitle span {
  color: #262626;
  font-size: 14px;
}

mat-form-field {
  display: block;
}

.mat-form-field-flex {
  background-color: #fff !important;
}
