.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem 1.1rem 0 0;
    outline: 0;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
  }

  form>div{
      margin-bottom: 30px;
  }