<div class="row" style="margin-top: 140px;">
  <div class="col-8 m-auto">
    <div class="myform">
      <h2 class="text-center">Inscrivez-vous</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <input type="email" formControlName="email" placeholder="enter email" class="form-control">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="text" formControlName="firstName" placeholder="enter first name" class="form-control">
            </div>
            <div class="col align-right">
              <input type="text" formControlName="lastName" placeholder="enter last name" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="userName" placeholder="enter username:" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" placeholder="enter password" class="form-control">
        </div>
        <div class="col">
          <button [disabled]="!userForm.valid" class="btn btn-block btn-sm btn-primary"
            type="submit">Inscription</button>
        </div>
      </form>
    </div>
    <div class="myform mt-4 _bbb">
      <p class="text-center">
        Vous avez un compte ? <a routerLink="/accounts/signin">Connectez-vous</a>
      </p>
    </div>
  </div>
</div>
