* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

._link-default {
  color: inherit !important;
  text-decoration: none !important;
}

mat-toolbar {
  position: fixed;
  z-index: 1000;
  height: 46px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#brand {
  margin-left: -4px;
  font-family: 'Sansita Swashed', cursive;
  font-size: 22px;
  color: rgba(000, 000, 000, .8);
}


#nav {
  margin-right: -4px;
}

#group_input_icon {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 180px;
  height: 24px;
}

#_input,
#icon,
#btn-clear {
  background-color: rgba(219, 219, 219, .4);
  border: solid .6px #dbdbdb;
  position: absolute;
  top: 0;
  height: 100%;
}

#_input {
  top: 1px;
  right: 12%;
  border-left: none;
  border-radius: 0 3px 3px 0;
  outline: none;
  text-align: left;
  padding-left: 4px;
  width: 66%;
}

#icon {
  border-right: none;
  border-radius: 3px 0 0 3px;
  width: 22%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-clear {
  border-radius: 0 3px 3px 0;
  border-left: none;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
}

#btn-clear .mat-icon {
  font-size: 14px;
}

#icon .mat-icon {
  font-size: 14px;
  position: absolute;
  top: 6px;
  right: -16%;
}


#brand a {
  color: rgba(0, 0, 0, .8);
}

#nav a {
  color: #fff;
}

#nav a,
#brand a {
  text-decoration: none;
}


mat-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mat-list-item-content {
  padding: 0 9px !important;
}

.w-12 {
  width: 12% !important;
}

.w-88 {
  width: 78% !important;
  right: 12%;
  border-radius: 0 !important;
}

.br-0 {
  border-right: none;
}

@media(min-width: 634px) {
  mat-toolbar {
    justify-content: space-around;
  }

  /* #brand {
    margin-left: 12%;
  } */

  #group_input_icon {
    width: 215px;
    height: 24px;
  }

  #nav {
    margin-right: 12%;
  }
}
