/* @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  padding-bottom: 4px;
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

nav a.nav-brand {
  font-family: 'Sansita Swashed', cursive;
  font-size: 22px;
  color: rgba(000, 000, 000, .8);
}

nav a.nav-brand:hover {
  text-decoration: none;
}

input[type='text'] {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 24px;
  background-color: rgba(219, 219, 219, .4);
  ;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  outline: none;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  margin-left: 20px;
}

ul li:first-child {
  margin-left: 0;
}

li {
  list-style: none;
} */


mat-toolbar {
  position: fixed;
  z-index: 1;
  height: 46px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 645px) {
  #brand {
    margin-left: 7rem;
  }

  #nav {
    margin-right: 7rem;
  }
}

#brand {
  margin-left: 2rem;
  font-family: 'Sansita Swashed', cursive;
  font-size: 22px;
  color: rgba(000, 000, 000, .8);
}

#search-icon {
  position: absolute;
  font-size: inherit;
  top: 30%;
  left: 40px;
  color: rgb(219, 213, 213);
}

input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 24px;
  width: 192px;
  background-color: rgba(219, 219, 219, .4);
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  outline: none;
  text-align: center;
}

input:focus #search-icon {
  left: 2px;
}

#brand a {
  color: rgba(0, 0, 0, .8);
}

#nav a {
  color: #fff;
}

#nav a,
#brand a {
  text-decoration: none;
}

#nav {
  margin-right: 2rem;
}

mat-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-icon {
  font-size: 33px;
  height: auto;
}
