<div style="height: 100px;"></div>
<div class="row">
  <div class="col-4">
    <!-- profile picture -->
  </div>
  <div class="col-8">
    <div class="row">
        <div class="col">
            <!-- username -->
        </div>
        <div class="col">
            <!-- button contenir le text 'modifier le profile' -->
        </div>
        <div class="col">
            <!-- svg parametre icon -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- nombre de publications publication -->
        </div>
        <div class="col">
            <!-- nombre d'abonnes abonnés -->
        </div>
        <div class="col">
            <!-- nombre d'abonnements abonnements -->
        </div>
    </div>
    <div class="row">
        <div class="row">  <!-- full name  -->   </div>
        <div class="row">  <!-- description -->    </div>
        <div class="row">
            
        </div>
    </div>
  </div>
</div>
