.bg-red {
  fill: rgb(237, 73, 86);
}

a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

a._um:hover {
  text-decoration: underline;
}

svg {
  cursor: pointer;
  margin-left: .9rem;
}

.mat-card-image {
  margin-bottom: -5px;
}

#more {
  right: 6px;
  top: 16px;
}

#more,
#turned-in-out {
  cursor: pointer;
  position: absolute;
}

#turned-in-out {
  position: absolute;
  cursor: pointer;
  right: 6px;
  top: 5px;
}

#turned-in-out mat-icon {
  font-size: 34px;
}

.example-header-image {
  background-size: cover;
}

mat-divider {
  margin-top: 1px;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
