<mat-card *ngFor="let user of data; let i = index">
  <mat-card-header>
    <div mat-card-avatar *ngIf="user.imagePath != null"
    style="background: url('{{userImagePath}}/{{user.imagePath}}');"></div>
    <div mat-card-avatar *ngIf="user.imagePath == null"
    style="background-image: url('../../../assets/profile.png');"></div>
    <mat-card-title>{{user.appUser.userName}}</mat-card-title>
    <mat-card-subtitle>{{user.appUser.fullName}}</mat-card-subtitle>

    <button mat-raised-button color="primary" *ngIf="!user.isFollowedMe"
     (click)="onFollowOrUnfollow(user.appUser.id, i)">S'abonner</button>

     <button mat-raised-button color="white" *ngIf="user.isFollowedMe"
     (click)="onFollowOrUnfollow(user.appUser.id, i)" >Abonné(e)</button>
  </mat-card-header>
</mat-card>
