<mat-card>
  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="login(myForm.value)">
      <h2>Log In</h2>
      <mat-error *ngIf="error">
        The username and password were not recognised
      </mat-error>

      <mat-form-field appearance="standard">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          Please provide a valid password (at least 6 charactere)
        </mat-error>
      </mat-form-field>
      <button style="width: 100%" mat-raised-button type="submit" color="primary"
        [disabled]="!myForm.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-subtitle>
      <span>
        Vous n’avez pas de compte &nbsp;?&nbsp; <a routerLink="/accounts/signup" id="_sign_up">Inscrivez-vous</a>
      </span>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
