/* 
a {
  text-decoration: none !important;
}

h1,
h2,
h3 {
  font-family: 'Kaushan Script', cursive;
}

.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.1rem 1.1rem 0 0;
  outline: 0;
  max-width: 500px;
}

.tx-tfm {
  text-transform: uppercase;
}

.mybtn {
  border-radius: 50px;
}

._bbb {
  border-radius: 0 0 1.1rem 1.1rem;
}

.__rg {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
/* 
#myForm {
  margin: 10% 40%;
  height: 50vh;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.mat-form-field-flex {
  background-color: #fff !important;
}
